body{
    display: flex;
    width: 100vw;
    height: 100vh;
    border: solid black 1px;
}

.odin_section{
    width: 40vw;
    height: 100vh;
    border: solid black 1px;
    background-image: url("/images/background_image.jpeg");
    background-size: cover; /* background image fill the entire container. */
}

.odin_section h1 {
    color: white;
}

.picture_section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 20vh;
    margin-top: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid black 1px;
}

.odin_image{
    width: auto;
    height: 100%;
}

.text_section{
    width: 60vw;
    height: 100vh;
    border: solid black 1px;
}

.text_section_one{
    width: 60vw;
    height: 35vh;
    border: solid black 1px;
}

.text_box{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-top: 5em;
    margin-left: 2em;
}

.text_section_two{
    width: 60vw;
    height: 30vh;
    border: solid black 1px;
}

.text_section_two h4{
    margin-left: 40px;
}

.container_labelInput{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.labelInput{
    display: flex;
    margin: 0px 40px 0px 40px;
    flex-direction: column;
}

#fname, #lname, #email, #phone_no1, #password, #confirm{
    width: 250px;
}

.text_section_three{
    width: 60vw;
    height: 35vh;
    border: solid black 1px;
}