* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    font-size: 16px;
}

body{
    display: flex;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    /* border: solid black 1px; */
}

.odin_section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    height: 100vh;
    border: solid black 1px;
    background-image: url("/images/background_image.jpeg");
    background-size: cover; /* background image fill the entire container. */
}

.odin_section h1 {
    color: white;
}

.picture_section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 20vh;
    margin-top: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
    /* border: solid black 1px; */
}

.odin_image{
    width: auto;
    height: 100%;
}

.odin_section #photo_description{
    text-align: center;
    align-items: flex-end;
    font-weight: bold;
    color: white;
}

.text_section{
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 100vh;
    /* border: solid black 1px; */
}

.text_section_one{
    height: 35vh;
    width: 60vw;
    background-color: rgb(207, 207, 207);
    /* border: solid black 1px; */
}

.text_box{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-top: 5rem;
    margin-left: 2rem;
}

.text_section_two{
    margin: 30px;
    height: 30vh;
    width: 60vw;
    
    /* border: solid black 1px; */
}

.text_section_two h3{
    margin-left: 2.5rem;
}

.container_labelInput{
    display: flex;
    flex-direction: row;
    margin-top: 0.625px;
    margin-bottom: 0.625px;
}

.labelInput{
    display: flex;
    margin: 0.5rem 2.5rem 0.5rem 2.5rem;
    flex-direction: column;
}

#fname, #lname, #email, #phone_no1, #password, #confirm{
    width: 250px;
}

.text_section_three{
    height: 35vh;
    width: 60vw;
    background-color: rgb(207, 207, 207);
    /* border: solid black 1px; */
}

.createAccount{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5rem; 
    height: 3.125rem;
    border-radius: 1.25rem; 
    margin: 2.5rem; 
    color: white;
    background-color: #254d02;
    box-shadow: 0.2rem 0.2rem 0.05rem rgb(104, 103, 103);
}

.createAccount:hover {
    en
}

.logIn{
    margin: 40px;
}

.text_section_three span{
    color: #254d02;
}