body{
    display: flex;
    width: 100vw;
    height: 100vh;
    border: solid black 1px;
}

.odin_section{
    width: 40vw;
    height: 100vh;
    border: solid black 1px;
}

.picture{
    width: 40vw;
    height: 20vh;
    margin-top: 20vh;
    border: solid black 1px;
}

.text_section{
    width: 60vw;
    height: 100vh;
    border: solid black 1px;
}

.text_section_one{
    width: 60vw;
    height: 35vh;
    border: solid black 1px;
}

.text_section_two{
    width: 60vw;
    height: 30vh;
    border: solid black 1px;
}

.text_section_three{
    width: 60vw;
    height: 35vh;
    border: solid black 1px;
}